<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Agrega aquí tus etiquetas meta, enlaces a hojas de estilo CSS o scripts JS si es necesario -->
</head>
<body>
    <header>
        <h1>Bienvenido a la página de inicio</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
                <li><a href="{% url 'donaciones' %}">Donaciones</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>
   
    <footer>
        <p>Contacto: info@mascotastore.com | Teléfono: +652 625 26 265</p>
    </footer>
</body>
</html>
