{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Alumnos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <h1>Editar Datos de Alumnos</h1><br>
    <br>

    <button type="button">
        <a href="{% url 'alumnosAdd' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{ mensaje }}
        {% endif %}
    </div>

    <table>
        {% if alumnos %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for x in alumnos %}
                <tr>
                    <td>{{ x.rut }}</td>
                    <td>{{ x.nombre }}</td>
                    <td>{{ x.apellido_paterno }}</td>
                    <td><a href="{% url 'alumnosDel' pk=x.rut %}">Eliminar</td>
                    <td><a href="{% url 'alumnosFindEdit' pk=x.rut %}">Modificar</td>
                </tr>
            {% endfor %}
        {% endif %}
    <table>
    
<script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slow");
    });
</script>
</body>
</html>